<footer class="app-footer">
  <ul class="list-inline">
    <li class="list-inline-item">
      <a class="text-muted" href="#!">Suporte</a>
    </li>
    <li class="list-inline-item">
      <a class="text-muted" href="#!">Central de Ajuda</a>
    </li>
    <li class="list-inline-item">
      <a class="text-muted" href="#!">Privacidade</a>
    </li>
    <li class="list-inline-item">
      <a class="text-muted" href="#!">Termos de Serviço</a>
    </li>
  </ul>
  <div class="copyright"> Copyright ZenEconomics © 2018. Todos os direitos reservados. </div>
</footer>
