<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Zen Economics Control Of Life</title>

  <link rel="stylesheet" href="css/unit_test/jasmine.css">

  <script src="js/unit_test/jasmine.js"></script>
  <script src="js/unit_test/jasmine-html.js"></script>
  <script src="js/unit_test/boot.js"></script>

  <script src="js/FormValidation.js"></script>
  <script src="js/unit_test/formValidation.spec.js"></script>

</head>

<body>
</body>
</html>
